<header>
  <nav>
    <div class="nav-container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

  </nav>
</header>
<main>
  <section>Main Content</section>
  <section>About Trinity</section>
  <section>Services</section>
  <section>Contact Form</section>
</main>

<footer>
  <div class="socials">
    <ul>
      <li>facebook</li>
      <li>instagram</li>
    </ul>
  </div>
  <p>Copyright &copy; by 2024 Trinity Tech Services. All Rights Reserved.</p>
</footer>
